.countries__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  grid-gap: 75px;
}

.countries__item {
  box-shadow: var(--bx-shadow);
  border-radius: 5px;
  overflow: hidden;
}

.countries__img {
  width: 100%;
  height: 175px;
  vertical-align: middle;
}

.countries__description {
  padding: 24px 0 46px 24px;
  background-color: var(--primary-bg-color);
}

.countries__title {
  color: var(--font-color);
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 16px;
}

.countries__info {
  color: var(--font-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

.countries__static {
  color: var(--font-color);
  margin-left: 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
